In [ ]:
import pandas as pd

In [ ]:
df = pd.read_csv("ocorrencia.csv", sep=";", parse_dates=['ocorrencia_dia'], dayfirst=True) #sep - seprador, sep=";" parse_dates (atributo usado para ele entender qual coluna vai ser transformada ou interpretada do tipo data). dayfirst=True define que o dia vem primeiro, ficnado no seguinte formato d/m/a.
df.head()

,codigo_ocorrencia,codigo_ocorrencia2,ocorrencia_classificacao,ocorrencia_cidade,ocorrencia_uf,ocorrencia_aerodromo,ocorrencia_dia,ocorrencia_hora,total_recomendacoes
0,52242,52242,INCIDENTE,PORTO ALEGRE,RS,SBPA,2012-01-05,20:27:00,0
1,45331,45331,ACIDENTE,GUARULHOS,SP,SBGR,2012-01-06,13:44:00,3
2,45333,45333,ACIDENTE,VIAMÃO,RS,****,2012-01-06,13:00:00,0
3,45401,45401,ACIDENTE,SÃO SEBASTIÃO,SP,****,2012-01-06,17:00:00,0
4,45407,45407,ACIDENTE,SÃO SEPÉ,RS,****,2012-01-06,16:30:00,0

In [ ]:
df.loc[1, 'ocorrencia_cidade'] # loc = localiza, a linha 1 e a coluna 'ocorrencia_cidade'

'GUARULHOS'

In [ ]:
df.loc[3]

codigo_ocorrencia                         45401
codigo_ocorrencia2                        45401
ocorrencia_classificacao               ACIDENTE
ocorrencia_cidade                 SÃO SEBASTIÃO
ocorrencia_uf                                SP
ocorrencia_aerodromo                       ****
ocorrencia_dia              2012-01-06 00:00:00
ocorrencia_hora                        17:00:00
total_recomendacoes                           0
Name: 3, dtype: object

In [ ]:
df.loc[1:3] # Localiza da linha 1 ate a 3.

,codigo_ocorrencia,codigo_ocorrencia2,ocorrencia_classificacao,ocorrencia_cidade,ocorrencia_uf,ocorrencia_aerodromo,ocorrencia_dia,ocorrencia_hora,total_recomendacoes
1,45331,45331,ACIDENTE,GUARULHOS,SP,SBGR,2012-01-06,13:44:00,3
2,45333,45333,ACIDENTE,VIAMÃO,RS,****,2012-01-06,13:00:00,0
3,45401,45401,ACIDENTE,SÃO SEBASTIÃO,SP,****,2012-01-06,17:00:00,0

In [ ]:
df.loc[[1,40]] # Localiza a linha 1 e alinha 40

,codigo_ocorrencia,codigo_ocorrencia2,ocorrencia_classificacao,ocorrencia_cidade,ocorrencia_uf,ocorrencia_aerodromo,ocorrencia_dia,ocorrencia_hora,total_recomendacoes
1,45331,45331,ACIDENTE,GUARULHOS,SP,SBGR,2012-01-06,13:44:00,3
40,45415,45415,ACIDENTE,RIO DE JANEIRO,RJ,****,2012-01-30,13:55:00,0

In [ ]:
df.loc[:,'ocorrencia_cidade'] # Todos as linhas de uma coluna específica

0        PORTO ALEGRE
1           GUARULHOS
2              VIAMÃO
3       SÃO SEBASTIÃO
4            SÃO SEPÉ
            ...
5162            JATAÍ
5163          MARACAÍ
5164    NOVO HAMBURGO
5165         CURITIBA
5166        PETROLINA
Name: ocorrencia_cidade, Length: 5167, dtype: object

In [ ]:
df.codigo_ocorrencia.is_unique # Verifica se a coluna tem valores únicos em cada linha

True

In [ ]:
df.set_index('codigo_ocorrencia', inplace=True) # Define a coluna 'codigo_ocorrencia' como index do dataframe, inplace=True aplica quando chamar o df

In [ ]:
df.head()

,codigo_ocorrencia2,ocorrencia_classificacao,ocorrencia_cidade,ocorrencia_uf,ocorrencia_aerodromo,ocorrencia_dia,ocorrencia_hora,total_recomendacoes
codigo_ocorrencia,,,,,,,,
52242,52242,INCIDENTE,PORTO ALEGRE,RS,SBPA,2012-01-05,20:27:00,0
45331,45331,ACIDENTE,GUARULHOS,SP,SBGR,2012-01-06,13:44:00,3
45333,45333,ACIDENTE,VIAMÃO,RS,****,2012-01-06,13:00:00,0
45401,45401,ACIDENTE,SÃO SEBASTIÃO,SP,****,2012-01-06,17:00:00,0
45407,45407,ACIDENTE,SÃO SEPÉ,RS,****,2012-01-06,16:30:00,0

In [ ]:
df

,codigo_ocorrencia2,ocorrencia_classificacao,ocorrencia_cidade,ocorrencia_uf,ocorrencia_aerodromo,ocorrencia_dia,ocorrencia_hora,total_recomendacoes
codigo_ocorrencia,,,,,,,,
52242,52242,INCIDENTE,PORTO ALEGRE,RS,SBPA,2012-01-05,20:27:00,0
45331,45331,ACIDENTE,GUARULHOS,SP,SBGR,2012-01-06,13:44:00,3
45333,45333,ACIDENTE,VIAMÃO,RS,****,2012-01-06,13:00:00,0
45401,45401,ACIDENTE,SÃO SEBASTIÃO,SP,****,2012-01-06,17:00:00,0
45407,45407,ACIDENTE,SÃO SEPÉ,RS,****,2012-01-06,16:30:00,0
...,...,...,...,...,...,...,...,...
80458,80458,ACIDENTE,JATAÍ,GO,####,2021-12-30,20:30:00,0
80452,80452,ACIDENTE,MARACAÍ,SP,*****,2021-12-31,09:30:00,0
80457,80457,INCIDENTE GRAVE,NOVO HAMBURGO,RS,SSNH,2021-12-31,11:59:00,0
80460,80460,INCIDENTE,CURITIBA,PR,SBBI,2021-12-31,15:12:00,0
80467,80467,INCIDENTE,PETROLINA,PE,SBPL,2021-12-31,20:30:00,0

In [ ]:
df.loc[52242]

codigo_ocorrencia2                        52242
ocorrencia_classificacao              INCIDENTE
ocorrencia_cidade                  PORTO ALEGRE
ocorrencia_uf                                RS
ocorrencia_aerodromo                       SBPA
ocorrencia_dia              2012-01-05 00:00:00
ocorrencia_hora                        20:27:00
total_recomendacoes                           0
Name: 52242, dtype: object

In [ ]:
df.reset_index(drop=True, inplace=True) # Resetar o indice, inplace=True (no df local tb)

In [ ]:
df

,codigo_ocorrencia2,ocorrencia_classificacao,ocorrencia_cidade,ocorrencia_uf,ocorrencia_aerodromo,ocorrencia_dia,ocorrencia_hora,total_recomendacoes
0,52242,INCIDENTE,PORTO ALEGRE,RS,SBPA,2012-01-05,20:27:00,0
1,45331,ACIDENTE,GUARULHOS,SP,SBGR,2012-01-06,13:44:00,3
2,45333,ACIDENTE,VIAMÃO,RS,****,2012-01-06,13:00:00,0
3,45401,ACIDENTE,SÃO SEBASTIÃO,SP,****,2012-01-06,17:00:00,0
4,45407,ACIDENTE,SÃO SEPÉ,RS,****,2012-01-06,16:30:00,0
...,...,...,...,...,...,...,...,...
5162,80458,ACIDENTE,JATAÍ,GO,####,2021-12-30,20:30:00,0
5163,80452,ACIDENTE,MARACAÍ,SP,*****,2021-12-31,09:30:00,0
5164,80457,INCIDENTE GRAVE,NOVO HAMBURGO,RS,SSNH,2021-12-31,11:59:00,0
5165,80460,INCIDENTE,CURITIBA,PR,SBBI,2021-12-31,15:12:00,0
5166,80467,INCIDENTE,PETROLINA,PE,SBPL,2021-12-31,20:30:00,0

In [ ]:
df.loc[2, 'ocorrencia_aerodromo'] = ''  # alterando valores

In [ ]:
df.head(2)

,codigo_ocorrencia2,ocorrencia_classificacao,ocorrencia_cidade,ocorrencia_uf,ocorrencia_aerodromo,ocorrencia_dia,ocorrencia_hora,total_recomendacoes
0,52242,INCIDENTE,PORTO ALEGRE,RS,SBPA,2012-01-05,20:27:00,0
1,45331,ACIDENTE,GUARULHOS,SP,SBGR,2012-01-06,13:44:00,3

In [ ]:
df.loc[:, 'total_recomendacoes'] = 10 # Altera todos os valores de uma coluna para '10'

In [ ]:
df['ocorrencia_uf_bkp'] = df.ocorrencia_uf # Backup de uma coluna

In [ ]:
df

,codigo_ocorrencia2,ocorrencia_classificacao,ocorrencia_cidade,ocorrencia_uf,ocorrencia_aerodromo,ocorrencia_dia,ocorrencia_hora,total_recomendacoes,ocorrencia_uf_bkp
0,52242,INCIDENTE,PORTO ALEGRE,RS,SBPA,2012-01-05,20:27:00,10,RS
1,45331,ACIDENTE,GUARULHOS,SP,SBGR,2012-01-06,13:44:00,10,SP
2,45333,ACIDENTE,VIAMÃO,RS,,2012-01-06,13:00:00,10,RS
3,45401,ACIDENTE,SÃO SEBASTIÃO,SP,****,2012-01-06,17:00:00,10,SP
4,45407,ACIDENTE,SÃO SEPÉ,RS,****,2012-01-06,16:30:00,10,RS
...,...,...,...,...,...,...,...,...,...
5162,80458,ACIDENTE,JATAÍ,GO,####,2021-12-30,20:30:00,10,GO
5163,80452,ACIDENTE,MARACAÍ,SP,*****,2021-12-31,09:30:00,10,SP
5164,80457,INCIDENTE GRAVE,NOVO HAMBURGO,RS,SSNH,2021-12-31,11:59:00,10,RS
5165,80460,INCIDENTE,CURITIBA,PR,SBBI,2021-12-31,15:12:00,10,PR
5166,80467,INCIDENTE,PETROLINA,PE,SBPL,2021-12-31,20:30:00,10,PE

In [ ]:
df.loc[df.ocorrencia_uf == 'SP', ['ocorrencia_classificacao']] = 'GRAVE' # Onde o uf for SP, altere na coluna 'ocorrencia_classificacao' com a palavra 'GRAVE'

In [ ]:
df

,codigo_ocorrencia2,ocorrencia_classificacao,ocorrencia_cidade,ocorrencia_uf,ocorrencia_aerodromo,ocorrencia_dia,ocorrencia_hora,total_recomendacoes,ocorrencia_uf_bkp
0,52242,INCIDENTE,PORTO ALEGRE,RS,SBPA,2012-01-05,20:27:00,10,RS
1,45331,GRAVE,GUARULHOS,SP,SBGR,2012-01-06,13:44:00,10,SP
2,45333,ACIDENTE,VIAMÃO,RS,,2012-01-06,13:00:00,10,RS
3,45401,GRAVE,SÃO SEBASTIÃO,SP,****,2012-01-06,17:00:00,10,SP
4,45407,ACIDENTE,SÃO SEPÉ,RS,****,2012-01-06,16:30:00,10,RS
...,...,...,...,...,...,...,...,...,...
5162,80458,ACIDENTE,JATAÍ,GO,####,2021-12-30,20:30:00,10,GO
5163,80452,GRAVE,MARACAÍ,SP,*****,2021-12-31,09:30:00,10,SP
5164,80457,INCIDENTE GRAVE,NOVO HAMBURGO,RS,SSNH,2021-12-31,11:59:00,10,RS
5165,80460,INCIDENTE,CURITIBA,PR,SBBI,2021-12-31,15:12:00,10,PR
5166,80467,INCIDENTE,PETROLINA,PE,SBPL,2021-12-31,20:30:00,10,PE

In [ ]:
df.loc[df.ocorrencia_uf == 'SP'] # filtro

,codigo_ocorrencia2,ocorrencia_classificacao,ocorrencia_cidade,ocorrencia_uf,ocorrencia_aerodromo,ocorrencia_dia,ocorrencia_hora,total_recomendacoes,ocorrencia_uf_bkp
1,45331,GRAVE,GUARULHOS,SP,SBGR,2012-01-06,13:44:00,10,SP
3,45401,GRAVE,SÃO SEBASTIÃO,SP,****,2012-01-06,17:00:00,10,SP
5,52243,GRAVE,UBATUBA,SP,****,2012-01-06,14:30:00,10,SP
6,50713,GRAVE,CAMPINAS,SP,SDAI,2012-01-07,18:15:00,10,SP
13,45408,GRAVE,ELDORADO,SP,****,2012-01-11,13:45:00,10,SP
...,...,...,...,...,...,...,...,...,...
5148,80441,GRAVE,BRAGANÇA PAULISTA,SP,SDVH,2021-12-20,18:15:00,10,SP
5157,80453,GRAVE,CAMPINAS,SP,SBKP,2021-12-29,09:00:00,10,SP
5158,80454,GRAVE,ARAÇATUBA,SP,SBAU,2021-12-29,21:35:00,10,SP
5161,80456,GRAVE,SÃO PAULO,SP,SBSP,2021-12-30,13:15:00,10,SP
5163,80452,GRAVE,MARACAÍ,SP,*****,2021-12-31,09:30:00,10,SP

In [ ]:
df

,codigo_ocorrencia2,ocorrencia_classificacao,ocorrencia_cidade,ocorrencia_uf,ocorrencia_aerodromo,ocorrencia_dia,ocorrencia_hora,total_recomendacoes,ocorrencia_uf_bkp
0,52242,INCIDENTE,PORTO ALEGRE,RS,SBPA,2012-01-05,20:27:00,10,RS
1,45331,GRAVE,GUARULHOS,SP,SBGR,2012-01-06,13:44:00,10,SP
2,45333,ACIDENTE,VIAMÃO,RS,,2012-01-06,13:00:00,10,RS
3,45401,GRAVE,SÃO SEBASTIÃO,SP,****,2012-01-06,17:00:00,10,SP
4,45407,ACIDENTE,SÃO SEPÉ,RS,****,2012-01-06,16:30:00,10,RS
...,...,...,...,...,...,...,...,...,...
5162,80458,ACIDENTE,JATAÍ,GO,####,2021-12-30,20:30:00,10,GO
5163,80452,GRAVE,MARACAÍ,SP,*****,2021-12-31,09:30:00,10,SP
5164,80457,INCIDENTE GRAVE,NOVO HAMBURGO,RS,SSNH,2021-12-31,11:59:00,10,RS
5165,80460,INCIDENTE,CURITIBA,PR,SBBI,2021-12-31,15:12:00,10,PR
5166,80467,INCIDENTE,PETROLINA,PE,SBPL,2021-12-31,20:30:00,10,PE

In [ ]:
df.head()

,codigo_ocorrencia2,ocorrencia_classificacao,ocorrencia_cidade,ocorrencia_uf,ocorrencia_aerodromo,ocorrencia_dia,ocorrencia_hora,total_recomendacoes,ocorrencia_uf_bkp
0,52242,INCIDENTE,PORTO ALEGRE,RS,SBPA,2012-01-05,20:27:00,10,RS
1,45331,GRAVE,GUARULHOS,SP,SBGR,2012-01-06,13:44:00,10,SP
2,45333,ACIDENTE,VIAMÃO,RS,,2012-01-06,13:00:00,10,RS
3,45401,GRAVE,SÃO SEBASTIÃO,SP,****,2012-01-06,17:00:00,10,SP
4,45407,ACIDENTE,SÃO SEPÉ,RS,****,2012-01-06,16:30:00,10,RS

In [ ]:
df.loc[df.ocorrencia_aerodromo == '****', ['ocorrencia_aerodromo']] = pd.NA # Substituindo valores '****' na coluna ocorrencia_aerodromo pelo o atributo de valores não informados no pandas (pd.NA) na coluna ocorrencia_aerodromo

In [ ]:
df

,codigo_ocorrencia2,ocorrencia_classificacao,ocorrencia_cidade,ocorrencia_uf,ocorrencia_aerodromo,ocorrencia_dia,ocorrencia_hora,total_recomendacoes,ocorrencia_uf_bkp
0,52242,INCIDENTE,PORTO ALEGRE,RS,SBPA,2012-01-05,20:27:00,10,RS
1,45331,GRAVE,GUARULHOS,SP,SBGR,2012-01-06,13:44:00,10,SP
2,45333,ACIDENTE,VIAMÃO,RS,,2012-01-06,13:00:00,10,RS
3,45401,GRAVE,SÃO SEBASTIÃO,SP,<NA>,2012-01-06,17:00:00,10,SP
4,45407,ACIDENTE,SÃO SEPÉ,RS,<NA>,2012-01-06,16:30:00,10,RS
...,...,...,...,...,...,...,...,...,...
5162,80458,ACIDENTE,JATAÍ,GO,####,2021-12-30,20:30:00,10,GO
5163,80452,GRAVE,MARACAÍ,SP,*****,2021-12-31,09:30:00,10,SP
5164,80457,INCIDENTE GRAVE,NOVO HAMBURGO,RS,SSNH,2021-12-31,11:59:00,10,RS
5165,80460,INCIDENTE,CURITIBA,PR,SBBI,2021-12-31,15:12:00,10,PR
5166,80467,INCIDENTE,PETROLINA,PE,SBPL,2021-12-31,20:30:00,10,PE

ocorrencia_uf 
**

ocorrencia_aerodromo
###!
####
****
*****

ocorrencia_hora
NULL

In [ ]:
df.replace(['**', '###!', '####', '****', '*****', 'NULL'], pd.NA, inplace=True) # Procura todos esses valores da lista e substitui por pd.NA

In [ ]:
df

,codigo_ocorrencia2,ocorrencia_classificacao,ocorrencia_cidade,ocorrencia_uf,ocorrencia_aerodromo,ocorrencia_dia,ocorrencia_hora,total_recomendacoes,ocorrencia_uf_bkp
0,52242,INCIDENTE,PORTO ALEGRE,RS,SBPA,2012-01-05,20:27:00,10,RS
1,45331,GRAVE,GUARULHOS,SP,SBGR,2012-01-06,13:44:00,10,SP
2,45333,ACIDENTE,VIAMÃO,RS,,2012-01-06,13:00:00,10,RS
3,45401,GRAVE,SÃO SEBASTIÃO,SP,<NA>,2012-01-06,17:00:00,10,SP
4,45407,ACIDENTE,SÃO SEPÉ,RS,<NA>,2012-01-06,16:30:00,10,RS
...,...,...,...,...,...,...,...,...,...
5162,80458,ACIDENTE,JATAÍ,GO,<NA>,2021-12-30,20:30:00,10,GO
5163,80452,GRAVE,MARACAÍ,SP,<NA>,2021-12-31,09:30:00,10,SP
5164,80457,INCIDENTE GRAVE,NOVO HAMBURGO,RS,SSNH,2021-12-31,11:59:00,10,RS
5165,80460,INCIDENTE,CURITIBA,PR,SBBI,2021-12-31,15:12:00,10,PR
5166,80467,INCIDENTE,PETROLINA,PE,SBPL,2021-12-31,20:30:00,10,PE

In [ ]:
df.tail()

,codigo_ocorrencia2,ocorrencia_classificacao,ocorrencia_cidade,ocorrencia_uf,ocorrencia_aerodromo,ocorrencia_dia,ocorrencia_hora,total_recomendacoes,ocorrencia_uf_bkp
5162,80458,ACIDENTE,JATAÍ,GO,<NA>,2021-12-30,20:30:00,10,GO
5163,80452,GRAVE,MARACAÍ,SP,<NA>,2021-12-31,09:30:00,10,SP
5164,80457,INCIDENTE GRAVE,NOVO HAMBURGO,RS,SSNH,2021-12-31,11:59:00,10,RS
5165,80460,INCIDENTE,CURITIBA,PR,SBBI,2021-12-31,15:12:00,10,PR
5166,80467,INCIDENTE,PETROLINA,PE,SBPL,2021-12-31,20:30:00,10,PE

In [ ]:
df.isna().sum() # Somar quantos dados não informados por coluna

codigo_ocorrencia2             0
ocorrencia_classificacao       0
ocorrencia_cidade              0
ocorrencia_uf                  0
ocorrencia_aerodromo        1904
ocorrencia_dia                 0
ocorrencia_hora                1
total_recomendacoes            0
ocorrencia_uf_bkp              0
dtype: int64

In [ ]:
df.isnull() # isnull e isna é a mesma coisa

,codigo_ocorrencia2,ocorrencia_classificacao,ocorrencia_cidade,ocorrencia_uf,ocorrencia_aerodromo,ocorrencia_dia,ocorrencia_hora,total_recomendacoes,ocorrencia_uf_bkp
0,False,False,False,False,False,False,False,False,False
1,False,False,False,False,False,False,False,False,False
2,False,False,False,False,False,False,False,False,False
3,False,False,False,False,True,False,False,False,False
4,False,False,False,False,True,False,False,False,False
...,...,...,...,...,...,...,...,...,...
5162,False,False,False,False,True,False,False,False,False
5163,False,False,False,False,True,False,False,False,False
5164,False,False,False,False,False,False,False,False,False
5165,False,False,False,False,False,False,False,False,False
5166,False,False,False,False,False,False,False,False,False

In [ ]:
df.fillna(0) # Atribui um valor no dado não informado (mudou só em twmpo de visualização)

,codigo_ocorrencia2,ocorrencia_classificacao,ocorrencia_cidade,ocorrencia_uf,ocorrencia_aerodromo,ocorrencia_dia,ocorrencia_hora,total_recomendacoes,ocorrencia_uf_bkp
0,52242,INCIDENTE,PORTO ALEGRE,RS,SBPA,2012-01-05,20:27:00,10,RS
1,45331,GRAVE,GUARULHOS,SP,SBGR,2012-01-06,13:44:00,10,SP
2,45333,ACIDENTE,VIAMÃO,RS,,2012-01-06,13:00:00,10,RS
3,45401,GRAVE,SÃO SEBASTIÃO,SP,0,2012-01-06,17:00:00,10,SP
4,45407,ACIDENTE,SÃO SEPÉ,RS,0,2012-01-06,16:30:00,10,RS
...,...,...,...,...,...,...,...,...,...
5162,80458,ACIDENTE,JATAÍ,GO,0,2021-12-30,20:30:00,10,GO
5163,80452,GRAVE,MARACAÍ,SP,0,2021-12-31,09:30:00,10,SP
5164,80457,INCIDENTE GRAVE,NOVO HAMBURGO,RS,SSNH,2021-12-31,11:59:00,10,RS
5165,80460,INCIDENTE,CURITIBA,PR,SBBI,2021-12-31,15:12:00,10,PR
5166,80467,INCIDENTE,PETROLINA,PE,SBPL,2021-12-31,20:30:00,10,PE

In [ ]:
df.fillna(10, inplace=True) # muda no df local

In [ ]:
df.isnull().sum()

codigo_ocorrencia2          0
ocorrencia_classificacao    0
ocorrencia_cidade           0
ocorrencia_uf               0
ocorrencia_aerodromo        0
ocorrencia_dia              0
ocorrencia_hora             0
total_recomendacoes         0
ocorrencia_uf_bkp           0
dtype: int64

In [ ]:
df.head()

,codigo_ocorrencia2,ocorrencia_classificacao,ocorrencia_cidade,ocorrencia_uf,ocorrencia_aerodromo,ocorrencia_dia,ocorrencia_hora,total_recomendacoes,ocorrencia_uf_bkp
0,52242,INCIDENTE,PORTO ALEGRE,RS,SBPA,2012-01-05,20:27:00,10,RS
1,45331,GRAVE,GUARULHOS,SP,SBGR,2012-01-06,13:44:00,10,SP
2,45333,ACIDENTE,VIAMÃO,RS,,2012-01-06,13:00:00,10,RS
3,45401,GRAVE,SÃO SEBASTIÃO,SP,10,2012-01-06,17:00:00,10,SP
4,45407,ACIDENTE,SÃO SEPÉ,RS,10,2012-01-06,16:30:00,10,RS

In [ ]:
df.replace([10], pd.NA, inplace=True)

In [ ]:
df.isnull().sum()

codigo_ocorrencia2             0
ocorrencia_classificacao       0
ocorrencia_cidade              0
ocorrencia_uf                  0
ocorrencia_aerodromo        1904
ocorrencia_dia                 0
ocorrencia_hora                1
total_recomendacoes         5167
ocorrencia_uf_bkp              0
dtype: int64

In [ ]:
df.fillna(value={'ocorrencia_hora': 'NULL'}, inplace=True) # Altera somente na coluna ocorrencia_hora os valores que estiverem nulos

In [ ]:
df.isnull().sum()

codigo_ocorrencia2             0
ocorrencia_classificacao       0
ocorrencia_cidade              0
ocorrencia_uf                  0
ocorrencia_aerodromo        1904
ocorrencia_dia                 0
ocorrencia_hora                0
total_recomendacoes         5167
ocorrencia_uf_bkp              0
dtype: int64

In [ ]:
df['total_recomendacoes_bkp'] = df.total_recomendacoes

In [ ]:
df.head()

,codigo_ocorrencia2,ocorrencia_classificacao,ocorrencia_cidade,ocorrencia_uf,ocorrencia_aerodromo,ocorrencia_dia,ocorrencia_hora,total_recomendacoes,ocorrencia_uf_bkp,total_recomendacoes_bkp
0,52242,INCIDENTE,PORTO ALEGRE,RS,SBPA,2012-01-05,20:27:00,<NA>,RS,<NA>
1,45331,GRAVE,GUARULHOS,SP,SBGR,2012-01-06,13:44:00,<NA>,SP,<NA>
2,45333,ACIDENTE,VIAMÃO,RS,,2012-01-06,13:00:00,<NA>,RS,<NA>
3,45401,GRAVE,SÃO SEBASTIÃO,SP,<NA>,2012-01-06,17:00:00,<NA>,SP,<NA>
4,45407,ACIDENTE,SÃO SEPÉ,RS,<NA>,2012-01-06,16:30:00,<NA>,RS,<NA>

In [ ]:
df.drop(['total_recomendacoes_bkp'], axis=1, inplace=True) # Excluir uma coluna, axis = 1 é o eixo de coluna, axis = 0 é o eixo de linha

In [ ]:
df.head()

,codigo_ocorrencia2,ocorrencia_classificacao,ocorrencia_cidade,ocorrencia_uf,ocorrencia_aerodromo,ocorrencia_dia,ocorrencia_hora,total_recomendacoes,ocorrencia_uf_bkp
0,52242,INCIDENTE,PORTO ALEGRE,RS,SBPA,2012-01-05,20:27:00,<NA>,RS
1,45331,GRAVE,GUARULHOS,SP,SBGR,2012-01-06,13:44:00,<NA>,SP
2,45333,ACIDENTE,VIAMÃO,RS,,2012-01-06,13:00:00,<NA>,RS
3,45401,GRAVE,SÃO SEBASTIÃO,SP,<NA>,2012-01-06,17:00:00,<NA>,SP
4,45407,ACIDENTE,SÃO SEPÉ,RS,<NA>,2012-01-06,16:30:00,<NA>,RS

In [ ]:
df.dropna() # Exclui todos os valores não informados

Empty DataFrame
Columns: [codigo_ocorrencia2, ocorrencia_classificacao, ocorrencia_cidade, ocorrencia_uf, ocorrencia_aerodromo, ocorrencia_dia, ocorrencia_hora, total_recomendacoes, ocorrencia_uf_bkp]
Index: []

In [ ]:
df

,codigo_ocorrencia2,ocorrencia_classificacao,ocorrencia_cidade,ocorrencia_uf,ocorrencia_aerodromo,ocorrencia_dia,ocorrencia_hora,total_recomendacoes,ocorrencia_uf_bkp
0,52242,INCIDENTE,PORTO ALEGRE,RS,SBPA,2012-01-05,20:27:00,<NA>,RS
1,45331,GRAVE,GUARULHOS,SP,SBGR,2012-01-06,13:44:00,<NA>,SP
2,45333,ACIDENTE,VIAMÃO,RS,,2012-01-06,13:00:00,<NA>,RS
3,45401,GRAVE,SÃO SEBASTIÃO,SP,<NA>,2012-01-06,17:00:00,<NA>,SP
4,45407,ACIDENTE,SÃO SEPÉ,RS,<NA>,2012-01-06,16:30:00,<NA>,RS
...,...,...,...,...,...,...,...,...,...
5162,80458,ACIDENTE,JATAÍ,GO,<NA>,2021-12-30,20:30:00,<NA>,GO
5163,80452,GRAVE,MARACAÍ,SP,<NA>,2021-12-31,09:30:00,<NA>,SP
5164,80457,INCIDENTE GRAVE,NOVO HAMBURGO,RS,SSNH,2021-12-31,11:59:00,<NA>,RS
5165,80460,INCIDENTE,CURITIBA,PR,SBBI,2021-12-31,15:12:00,<NA>,PR
5166,80467,INCIDENTE,PETROLINA,PE,SBPL,2021-12-31,20:30:00,<NA>,PE

In [ ]:
df.dropna(subset=['ocorrencia_aerodromo']) # Exclui as linhas c/ valores NA na coluna acorrencia_aerodromo

,codigo_ocorrencia2,ocorrencia_classificacao,ocorrencia_cidade,ocorrencia_uf,ocorrencia_aerodromo,ocorrencia_dia,ocorrencia_hora,total_recomendacoes,ocorrencia_uf_bkp
0,52242,INCIDENTE,PORTO ALEGRE,RS,SBPA,2012-01-05,20:27:00,<NA>,RS
1,45331,GRAVE,GUARULHOS,SP,SBGR,2012-01-06,13:44:00,<NA>,SP
2,45333,ACIDENTE,VIAMÃO,RS,,2012-01-06,13:00:00,<NA>,RS
6,50713,GRAVE,CAMPINAS,SP,SDAI,2012-01-07,18:15:00,<NA>,SP
7,45334,INCIDENTE,BELÉM,PA,SBBE,2012-01-08,19:12:00,<NA>,PA
...,...,...,...,...,...,...,...,...,...
5160,80451,INCIDENTE,MANAUS,AM,SBEG,2021-12-30,14:41:00,<NA>,AM
5161,80456,GRAVE,SÃO PAULO,SP,SBSP,2021-12-30,13:15:00,<NA>,SP
5164,80457,INCIDENTE GRAVE,NOVO HAMBURGO,RS,SSNH,2021-12-31,11:59:00,<NA>,RS
5165,80460,INCIDENTE,CURITIBA,PR,SBBI,2021-12-31,15:12:00,<NA>,PR
5166,80467,INCIDENTE,PETROLINA,PE,SBPL,2021-12-31,20:30:00,<NA>,PE

In [ ]:
df.drop_duplicates(inplace=True) # Exclui linhas duplicadas

In [ ]:
df

,codigo_ocorrencia2,ocorrencia_classificacao,ocorrencia_cidade,ocorrencia_uf,ocorrencia_aerodromo,ocorrencia_dia,ocorrencia_hora,total_recomendacoes,ocorrencia_uf_bkp
0,52242,INCIDENTE,PORTO ALEGRE,RS,SBPA,2012-01-05,20:27:00,<NA>,RS
1,45331,GRAVE,GUARULHOS,SP,SBGR,2012-01-06,13:44:00,<NA>,SP
2,45333,ACIDENTE,VIAMÃO,RS,,2012-01-06,13:00:00,<NA>,RS
3,45401,GRAVE,SÃO SEBASTIÃO,SP,<NA>,2012-01-06,17:00:00,<NA>,SP
4,45407,ACIDENTE,SÃO SEPÉ,RS,<NA>,2012-01-06,16:30:00,<NA>,RS
...,...,...,...,...,...,...,...,...,...
5162,80458,ACIDENTE,JATAÍ,GO,<NA>,2021-12-30,20:30:00,<NA>,GO
5163,80452,GRAVE,MARACAÍ,SP,<NA>,2021-12-31,09:30:00,<NA>,SP
5164,80457,INCIDENTE GRAVE,NOVO HAMBURGO,RS,SSNH,2021-12-31,11:59:00,<NA>,RS
5165,80460,INCIDENTE,CURITIBA,PR,SBBI,2021-12-31,15:12:00,<NA>,PR
5166,80467,INCIDENTE,PETROLINA,PE,SBPL,2021-12-31,20:30:00,<NA>,PE